/tmp
/out-tsc

/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.pnp
.pnp.js

.vscode/*
/dist/index.d.ts
/dist/index.js
/.idea/markdown-it-image-caption.iml
/.idea/modules.xml
/pnpm-lock.yaml
/dist/index.cjs
/dist/index.mjs
/.env
/.npmrc
/.gh-publish-tmp/index.cjs
/.gh-publish-tmp/index.d.ts
/.gh-publish-tmp/index.js
/.gh-publish-tmp/index.mjs
/.gh-publish-tmp/package.json
